@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

:root {
  --color-black: #232325;
  --color-umber: #131f2b;
  --color-soft-dune: #e4dcc0;
  --color-vanilla: oklch(13% 0.028 261.692);
  --color-classic-taupe: #5967ee;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
    background-color: var(--color-vanilla);
    font-family: "Poppins", sans-serif
}

h1,h1,h1,h2 {
    font-family:"Poppins", sans-serif
}

p,span,label {
    font-family: Lufga,Arial,Helvetica,sans-serif
}

.scrollbar-hide::-webkit-scrollbar {
    display: none
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none
}
